Repository Vikaspogu/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix k3s version
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

update ansible-lint file
  .github/linters/.ansible-lint
  .github/workflows/lint.yaml
Labels: area/github

add external secret for frigate creds
  kubernetes/apps/home/frigate/app/externalsecret.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/frigate/app/kustomization.yaml
Labels: area/kubernetes

update name
  kubernetes/apps/home/frigate/app/externalsecret.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

refactor cluster secret store and added addons for flux
  kubernetes/apps/default/external-secrets/ks.yaml
  kubernetes/apps/default/external-secrets/stores/clustersecretstore.yaml
  kubernetes/apps/default/external-secrets/stores/kustomization.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/addons/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/apps/flux-system/addons/notifications/alert-manager/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/notifications/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
Labels: area/kubernetes

fix alert
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
Labels: area/kubernetes

fix secret name
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bookstack/ks.yaml
  kubernetes/apps/default/mariadb/ks.yaml
  kubernetes/apps/default/minio/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/pgadmin/ks.yaml
  kubernetes/apps/default/postgresql/ks.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/externalsecret.yaml
  kubernetes/apps/home/emqx/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/mealie/ks.yaml
  kubernetes/apps/home/teslamate/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/monitoring/alertmanager-discord/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/unifi-poller/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/vpn/downloads-gateway/ks.yaml
Labels: area/kubernetes

update repo
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

add snapshot label
  kubernetes/apps/media/bazarr/app/config-pvc.yaml
Labels: area/kubernetes

update post install playbook with k8s module
  provision/ansible/playbooks/cluster-nuke.yml
  provision/ansible/playbooks/cluster-post-installation.yml
  provision/ansible/playbooks/cluster-prepare.yml
Labels: area/ansible

add plex auto language
  kubernetes/apps/media/plex-auto-languages/app/externalsecret.yaml
  kubernetes/apps/media/plex-auto-languages/app/helmrelease.yaml
  kubernetes/apps/media/plex-auto-languages/app/kustomization.yaml
  kubernetes/apps/media/plex-auto-languages/ks.yaml
Labels: area/kubernetes

add plex auto language
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

add kube stack
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

add recyclarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/config-pvc.yaml
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes

remove vliam template
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

change to deployment
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

add lldap
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lldap/app/externalsecret.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/kustomization.yaml
  kubernetes/apps/default/lldap/ks.yaml
Labels: area/kubernetes

fix postgres auth
  kubernetes/apps/default/lldap/app/externalsecret.yaml
Labels: area/kubernetes

enable hajimari
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

remove blq mqtt
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

remove kubestack
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix ips
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

add kube stack app
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

enable ingress
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update prom alerts
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

remove url
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

fix alertmanager
  .vscode/settings.json
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update authelia
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

remove oidc
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

remove emqx
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

add back emqx
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

add back emqx diable pvc
  kubernetes/apps/home/emqx/app/helmrelease.yaml
Labels: area/kubernetes

enable auth
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

Remove affinity rule
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

add new node and increase replica
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  provision/ansible/inventory/host_vars/k8s-7-nuc-7i5bnk.sops.yml
  provision/ansible/inventory/host_vars/k8s-7-proxmox-node.sops.yml
  provision/ansible/inventory/hosts.yml
  provision/ansible/playbooks/cluster-post-installation.yml
Labels: area/ansible, area/kubernetes

add resources plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

remove limits
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix kyverno v3
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

decrease plex to 500m
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

bump to 750m
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes
