Repository Vikaspogu/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

add upgrade
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

remove upgrade
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

increase retries
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

remove kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-auth-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob-controller.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

add kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-auth-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob-controller.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

update poclies
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-auth-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/kubernetes

Add permission cronjob
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

Add permission cronjob
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

test mutate ingress
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-auth-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  provision/ansible/playbooks/cluster-post-installation.yml
Labels: area/ansible, area/kubernetes

remove kyverno mutate
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/bookstack/app/helmrelease.yaml
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/default/kopia-web/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/minio/app/helmrelease.yaml
  kubernetes/apps/default/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/pgadmin/app/helmrelease.yaml
  kubernetes/apps/default/reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/youtubedl-material/app/helmrelease.yaml
  kubernetes/apps/home/emqx/app/helmrelease.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mealie/app/helmrelease.yaml
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

remove cert issuer
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

remove lldap anf freshrss
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Add minio doc
  docs/minio.md
Labels: none

Add tolerations to metallb
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
Labels: area/kubernetes

Add tolerations to rook plugins
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
Labels: area/kubernetes

Ad autobrr
  kubernetes/apps/default/autobrr/app/config/config.toml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

ks interval
  kubernetes/apps/default/autobrr/ks.yaml
Labels: area/kubernetes

add lounge
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/app/pvc.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/media/autobrr/app/config/config.toml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

change size
  kubernetes/apps/default/thelounge/app/pvc.yaml
Labels: area/kubernetes

change psp
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

rever back psp
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

remove psp
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

enable hajimari
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

remove thelounge and autobrr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/app/pvc.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/media/autobrr/app/config/config.toml
  kubernetes/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/kustomization.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

add externalip for lldap
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Add libreddit
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/libreddit/app/kustomization.yaml
  kubernetes/apps/default/libreddit/ks.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/default/libreddit/ks.yaml
Labels: area/kubernetes

fix file ref
  kubernetes/apps/default/libreddit/app/kustomization.yaml
Labels: area/kubernetes

change libreddit to local
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

fix env name
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

cleanup ingress
  kubernetes/apps/default/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

cleanup env
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

turn on
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

change layout
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
Labels: area/kubernetes

fix name
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update ovpn file
  kubernetes/apps/vpn/downloads-gateway/app/helmrelease.yaml
Labels: area/kubernetes

update config file
  kubernetes/apps/vpn/downloads-gateway/app/externalsecret.yaml
  kubernetes/apps/vpn/downloads-gateway/app/helmrelease.yaml
Labels: area/kubernetes

Add cronjob for opnsense backups
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/opnsense/app/externalsecret.yaml
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
  kubernetes/apps/default/opnsense/app/kustomization.yaml
  kubernetes/apps/default/opnsense/app/opnsense-backup.sh
  kubernetes/apps/default/opnsense/ks.yaml
Labels: area/kubernetes

fix external secret
  kubernetes/apps/default/opnsense/app/externalsecret.yaml
Labels: area/kubernetes

add restart pod job
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/restart-pod/app/crb.yaml
  kubernetes/apps/default/restart-pod/app/helmrelease.yaml
  kubernetes/apps/default/restart-pod/app/kustomization.yaml
  kubernetes/apps/default/restart-pod/app/restart-pod.sh
  kubernetes/apps/default/restart-pod/ks.yaml
Labels: area/kubernetes
