Repository Vikaspogu/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

test with older image
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
Labels: area/kubernetes

enable safe mode
  kubernetes/apps/home/node-red/app/helmrelease.yaml
Labels: area/kubernetes

Revert nodered changes
  kubernetes/apps/home/node-red/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix minio ingress
  kubernetes/apps/default/minio/app/helmrelease.yaml
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
  kubernetes/apps/default/opnsense/app/opnsense-backup.sh
  kubernetes/apps/default/restart-pod/app/crb.yaml
  kubernetes/apps/default/restart-pod/app/helmrelease.yaml
Labels: area/kubernetes

add ns
  kubernetes/apps/default/restart-pod/app/crb.yaml
Labels: area/kubernetes

add env
  kubernetes/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

add get permissions
  kubernetes/apps/default/restart-pod/app/crb.yaml
  kubernetes/apps/default/restart-pod/app/helmrelease.yaml
Labels: area/kubernetes

update cron
  kubernetes/apps/default/restart-pod/app/helmrelease.yaml
Labels: area/kubernetes

test job
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
Labels: area/kubernetes

change job schedule
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
Labels: area/kubernetes

test with new imahe
  kubernetes/apps/default/opnsense/app/helmrelease.yaml
Labels: area/kubernetes

fix broken link
  README.md
Labels: none

Remove readerr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

add readerr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Add verbs
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix metallb ips
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

delete audiobook
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

add audiobook
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

remove transcoder
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

deploy memos app
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/memos/app/helmrelease.yaml
  kubernetes/apps/default/memos/app/kustomization.yaml
  kubernetes/apps/default/memos/app/pvc.yaml
  kubernetes/apps/default/memos/ks.yaml
Labels: area/kubernetes

update docker image
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

diable link service
  kubernetes/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

update ssh keys
  provision/ansible/inventory/group_vars/kubernetes/os.yml
  provision/cloud-config/k8s-5-pi4-garage.yml
  provision/cloud-config/k8s-6-pi4-office.yml
Labels: area/ansible

add freshrss
  kubernetes/apps/default/freshrss/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

add rss
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rss/app/config/feeds.txt
  kubernetes/apps/default/rss/app/helmrelease.yaml
  kubernetes/apps/default/rss/app/kustomization.yaml
  kubernetes/apps/default/rss/app/pvc.yaml
  kubernetes/apps/default/rss/ks.yaml
Labels: area/kubernetes

remove rss
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rss/app/config/feeds.txt
  kubernetes/apps/default/rss/app/helmrelease.yaml
  kubernetes/apps/default/rss/app/kustomization.yaml
  kubernetes/apps/default/rss/app/pvc.yaml
  kubernetes/apps/default/rss/ks.yaml
Labels: area/kubernetes

add miniflux
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/kustomization.yaml
  kubernetes/apps/default/miniflux/ks.yaml
Labels: area/kubernetes

fix ks
  kubernetes/apps/default/miniflux/ks.yaml
Labels: area/kubernetes

update es
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
Labels: area/kubernetes

update es with new extract
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
Labels: area/kubernetes

enable weave gitops hajimari
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

enable identity provider
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

move to config
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
Labels: area/kubernetes

change configmap name
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
Labels: area/kubernetes

revert configmap changes
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

add ldap for auth
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

update name
  kubernetes/apps/default/authelia/app/externalsecret.yaml
Labels: area/kubernetes

disable file auth
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

update ldap config
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

update ldap config to userdn
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes
